<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="SeleniumJavaProject.SeleniumJava.Browserlaunch"/>
      <class name="SeleniumJavaProject.SeleniumJava.UserPassword"/>
      <class name="SeleniumJavaProject.SeleniumJava.fbsignup"/>
      <class name="SeleniumJavaProject.SeleniumJava.createnewaccount"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
